WXO_ENV_NAME="<name_your_wxo_env>"
WXO_APIKEY="<wxo_api_key>"
WXO_ENDPOINT="https://api.<region>.watson-orchestrate.cloud.ibm.com/instances/<instance_id>" # or just directly copy the url from the instance itself.

IBMCLOUD_DB_CERT_PATH="config/<path to .pem file for IBM Cloud databases>"

MONGODB_HOSTS="<host>:<port>,<host>:<port>,<host>:<port>"
MONGODB_USERNAME="<mongodb_user_from_service_credentials>"
MONGODB_PASSWORD="<mongodb_password_from_service_credentials>"
MONGODB_ENDPOINT="mongodb://$MONGODB_USERNAME:$MONGODB_PASSWORD@$MONGODB_HOSTS/ibmclouddb?authSource=admin&replicaSet=replset&tls=true"

POSTGRESQL_USERNAME="<postgres_user_from_service_credentials>"
POSTGRESQL_PASSWORD="<postgres_password_from_service_credentials>"
POSTGRESQL_HOST="<host>:<port>"
POSTGRESQL_ENDPOINT="postgres://$POSTGRESQL_USERNAME:$POSTGRESQL_PASSWORD@$POSTGRESQL_HOST/ibmclouddb?sslmode=required" # or sslmode = verify-full // for postgres endpoint you can also use "postgresql+psycopg2://" if you wish to use it with tools like sqlalchemy


SUPABASE_PASSWORD="<supabase_password>"
SUPABASE_USERNAME="postgres.<supabase_project_id>"
SUPABASE_HOST="<cloud-provier>-<region>.pooler.supabase.com:<port>" # E.g. "aws-0-eu-central-1.pooler.supabase.com:<port>" for Frankfurt on AWS
SUPABASE_ENDPOINT="postgresql+psycopg2://$SUPABASE_USERNAME:$SUPABASE_POSTGRES_PASSWORD@$SUPABASE_HOST/postgres?sslmode=require"

REWRITE_TABLES=False